@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, #C4C4C4 16.67%, rgba(196, 196, 196, 0) 100%), #efefef;
  background-size: 1000px 100%;
  animation: shimmer 2.2s linear infinite forwards;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ribbon {
  background-color: #333333;
  color: white;
  font-weight: 600;
  font-family: system-ui;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

.slide_up {
  animation: slideUp 0.3s linear forwards;
  box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 15%);
}

.slide_down {
  transform: translateY(64px);
  transition: transform 0.3s linear;
}
