<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Omni Enterprise</title>
    <style>
      .ribbon {
        position: fixed;
        right: -46px;
        top: -22px;
        padding: 40px 40px 15px;
        transform: rotate(45deg);
        background-color: #CCCCCC;
        font-weight: 600;
        font-family: system-ui;
        color: #7D7D7D;
      }
    </style>
  </head>
  <body>
    <div class="ribbon">DEMO</div>
    <div id="root"></div>
  </body>
  <script>
  </script>
</html>
